<h2>Latest posts:</h2>
<br />
<% @results.each do |post| %>
	<p>
		<h3>Author <%= post['username']%></h3> 
		<br />
		<h5><%= post['content']%></h5>
		<br />
		<span style="font-size: 80%; color: #999">Added at <%= post['created_date']%></span>
		<br />
		<a href="/details/<%= post['id']%>">Comments</a>
	</p>
	<hr />
<% end %>